<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<app-home></app-home>
<router-outlet></router-outlet> -->

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="bgside">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="example-container">
        <!-- <router-outlet></router-outlet> -->
        <!-- <app-table></app-table> -->
        <!-- <app-navigation></app-navigation> -->
        <!-- <app-address-form></app-address-form> -->
        <!-- <app-dashboard></app-dashboard> -->
        <!-- <app-drag-drop></app-drag-drop> -->
        <!-- <app-tree></app-tree> -->



        <router-outlet></router-outlet>



    </mat-sidenav-content>

</mat-sidenav-container>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> 


-->


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->